
<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
  </mat-form-field>
  
  <button mat-button>+ crear Nuevo Producto</button>  
</mat-card>


<table mat-table matSort  [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Pais </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="provider">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openDialog(row)" aria-label="show">
              <mat-icon mat-list-icon>pageview</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialogCancel(row.token)" aria-label="cancel">
              <mat-icon mat-list-icon>cancel</mat-icon>
          </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>