<mat-card>
    <mat-card-header>
        <mat-card-title>Crear Producto</mat-card-title>
    </mat-card-header>

    <!-- start CARD Container-->
    <mat-card-content>
        <div style="width: 100%;">

        <!-- start STEPPER Component -->
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <!-- start FORM 1 / Product Data -->
                  <div class="treintaporciento">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre del Producto:</mat-label>
                        <input matInput formControlName="nameProductField"  placeholder="" value="" required>
                      </mat-form-field>
                  </div>
                  <div class="treintaporciento">
                      <mat-form-field class="example-full-width">
                          <mat-label>Pais:</mat-label>
                          <mat-select formControlName="countryProductField" >
                          <mat-option value="argentina">
                              Argentina
                          </mat-option>
                          <mat-option value="argentina">
                              Brazil
                          </mat-option>
                          <mat-option value="argentina">
                              Peru
                          </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="treintaporciento">
                      <mat-form-field class="example-full-width">
                          <mat-label>Proveedor:</mat-label>
                          <mat-select formControlName="providerProductField">
                          <mat-option value="uno">
                              Proveedor uno
                          </mat-option>
                          <mat-option value="dos">
                              Proveedor dos
                          </mat-option>
                          <mat-option value="tres">
                              Proveedor tres
                          </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                <!-- end FORM 1 / Product Data -->
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        <!-- ends STEPPER Component -->

        </div>
    </mat-card-content>
    <!-- ends CARD Container-->
</mat-card>

