<h2 mat-dialog-title>titulo</h2>
<mat-dialog-content>

    <div class="example-container" style="border:1px solid pink">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>
      
      <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>

    
</mat-dialog-content>
<mat-dialog-actions></mat-dialog-actions>